@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";

 
}
html,body{
  margin: 0;
  width: 100%;
}
body {
  display: block;

}
.App{

}
.navbar {
  margin: 0 ;

  background-color: rgb(199, 197, 197);
  display: block;
 
  
}

.navbar .right{
  display:flex;
  margin-left: auto;
  
}
.navbar .left{
  display:flex;
}

.navbar .links {
  display:flex;
   width: 100%;
   border-bottom: 2px solid #000000;
  }
.navbar-links{
  background-color:white;
  height: 50px;
  border-right: 1px solid #0d0b0b;
  display: flex;
}
.no-bck{
  background-color:transparent !important;
  border-right: 0;
  
}
.navbar .navbar-links a {
  margin: 5px;
  font-size :18px; 
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  color: rgb(27, 25, 25);
}
.navbar a:hover {
  color: #35a0f1;
}
.navbar-links a{
  color: rgb(16, 14, 14);
}

/* filter bar styling */

.filters{

  display: flex;
  width: 100%;
 
  background-color: rgb(231, 230, 230);
}

.filters-time , .filters-line{

  display : flex; 
  
  border-right: 2px solid rgb(0, 0, 0);

  width: 50%;
}



.filter{

  border: none;
  background-color:transparent;
  color: rgb(21, 19, 19);
  padding: 30px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px auto;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.filter:hover,  .filter-active{
  background-color:#4c59af;
  box-shadow : 2px 2px 5px grey inset;
  color: white
}

.break {
  border-right: 1px solid rgb(113, 113, 113);
  padding-right: 10px;
}

.line{
  margin-left : 10px; 
  padding-right: 10px;

}

/*MAIN CONTENT*/
.content {
height:85vh;
display: flex;

}

/*TASKBAR STYLING */

.taskbar{
  background-color: rgb(97, 96, 96); 
  width: 220px;
  height:100%;
  background-color: rgb(231, 230, 230);
  position: relative;

}

.taskbar h2{
  text-align: left;
}

.view-btn-group {
  display: inline-block;
  margin-top: 20px;
}


.view-button {
  width: 220px;
  background-color:transparent;
  color: rgb(21, 19, 19);
  padding: 30px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px auto;
  cursor: pointer;
  overflow: hidden;
  font-weight: bold;
  border:none;
  
}
.view-button:hover ,.view-button-active{
  background-color:#4c59af;
  box-shadow : 2px 2px 5px grey inset;
  color: white
}

.img-wrap{
  position: absolute;
  bottom:0px;
  left: 40px;
}

.logo{
max-width: 200px;

height: 70px;
}



/*DATE ERROS STYLES*/ 
.data{
  /* width: 100%; */
}
.date-error-filter{
  border:1px solid rgb(108, 108, 108);
  border-top:0px; 
  border-left: 0px;
}

.date-input{
  margin-left:0px; 

  margin-right:15px;
}
.error-filter,.date-filter{
  padding: 0;
  display: flex;

}
.date-filter{
  margin-bottom: 5px;
}
.error-cat{

  margin-left:0px; 
  padding-right: 80px;
  border-bottom: 0px;

}
.show-details{ 

  margin-left:109px;
}

.table{

  overflow: scroll;
  height: 90%;
  width: 100%;
}

.modal .modal-content{
  background-color:white;
}